.demo_title{
    margin: 0px 0px 20px;
    h1{
        @include fm_monst;
        font-size: 32px;
        font-weight: 700;
    }
}
.demo_line{
    width: 100%;
    display: flex;
    padding:10px 0px;
}


//Button
button.disable{
    opacity: 0.5 !important;
    cursor: not-allowed;
}

.btn_md1{
    width: 160px;
    height: 40px;
    padding: 2px 8px 0px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(to bottom, #0f1948, #19255e);
    box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4),3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8), 
        inset -2px -2px 4px rgba(119, 119, 255, 0.5);
        color: #ff994a;
    }
}

.btn_md1.cor{
    background: linear-gradient(to bottom, #ff994a, #ff4f19);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        background: linear-gradient(to bottom, #f53b02, #ff994a);
        color: #fff;
    }
}

.btn_md1.trans{
    border: 1px solid #fff;
    box-shadow: none;
    background: transparent;
    &:hover,&.on{
        border: 1px solid #ff994a;
        color: #ff994a;
    }
}

.btn_md1.box{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    background: #0f173d;
    &:hover,&.on{
        border: 1px solid #ff994a;
        color: #ff994a;
    }
}

.btn_md1.boxvl{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: none;
    background: #0f173d;
    &:hover,&.on{
        border: 1px solid #778eff;
        color: #fff;
    }
}

.btn_md1.norm{
    background: linear-gradient(to bottom, #16225c, #1b2970);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        color: #fff;
    }
}

.btn_lg1{
    width: 342px;
    height: 48px;
    padding: 3px 12px 0px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(to bottom, #0f1948, #19255e);
    box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4),3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8), 
        inset -2px -2px 4px rgba(119, 119, 255, 0.5);
        color: #ff994a;
    }
}

.btn_lg1.cor{
    background: linear-gradient(to bottom, #ff994a, #ff4f19);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        background: linear-gradient(to bottom, #f53b02, #ff994a);
        color: #fff;
    }
}

.btn_sm1{
    min-width: 76px;
    height: 32px;
    padding:0px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(to bottom, #16225c, #1b2970);
    box-shadow: -1px -1px 2px rgba(119, 119, 255, 0.4),2px 2px 4px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8), 
        inset -2px -2px 4px rgba(119, 119, 255, 0.5);
        color: #ff994a;
    }
}

.btn_sm1.trans{
    border: 1px solid #fff;
    box-shadow: none;
    background:transparent;
    &:hover,&.on{
        border: 1px solid #ff994a;
        color: #ff994a;
    }
}

.btn_sm1.cor{
    background: linear-gradient(to bottom, #ff994a, #ff4f19);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        background: linear-gradient(to bottom, #f53b02, #ff994a);
        color: #fff;
    }
}

.btn_sm1.norm{
    background: linear-gradient(to bottom, #16225c, #1b2970);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.6);
    &:hover,&.on{
        color: #fff;
    }
}

.btn_sm1.with{
    display: flex;
    align-items: center;
    font-weight: 400;
    &:hover,&.on{
        color: #fff;
    }
    img{
        margin: 0px 8px 0px 0px;
    }
    span{
        padding: 2px 0px 0px 0px;
    }
}

.btn_md2{
    width: 226px;
    height: 40px;
    padding: 2px 8px 0px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(to bottom, #0f1948, #19255e);
    box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4),3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8), 
        inset -2px -2px 4px rgba(119, 119, 255, 0.5);
        color: #ff994a;
    }
}

.btn_md2.cor{
    background: linear-gradient(to bottom, #ff994a, #ff4f19);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        background: linear-gradient(to bottom, #f53b02, #ff994a);
        color: #fff;
    }
}

.btn_md3{
    width: 250px;
    height: 40px;
    padding: 2px 8px 0px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(to bottom, #0f1948, #19255e);
    box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4),3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8), 
        inset -2px -2px 4px rgba(119, 119, 255, 0.5);
        color: #ff994a;
    }
}

.btn_md3.cor{
    background: linear-gradient(to bottom, #ff994a, #ff4f19);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        background: linear-gradient(to bottom, #f53b02, #ff994a);
        color: #fff;
    }
}

.btn_society{
    width: 352px;
    height: 40px;
    padding: 3px 19px 1px 45px;
    border-radius: 5px;
    background-color: #fff;
    color:#06004f;
    font-size: 14px;
    font-weight: 400;
    position:relative;
    img{
        position: absolute;
        left:15px;
        top:4px;
    }
    .word{
        font: inherit;
    }
}

.btn_c60{
    @include dflx_ac_jcent;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    background: #111a48;
    &.cor{
        background: linear-gradient(to bottom, #ff994a, #ff4f19);
    }
    &:hover,&.on{
        background: linear-gradient(to bottom, #ff3f05, #ff994a);
    }
}

.btsq{
    @include dflx_ac_jcent;
    border-radius: 5px;
    background: linear-gradient(to bottom, #111a48, #182566);
    box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4),3px 3px 7px 0 rgba(0, 0, 0, 0.4);
    &:hover,&.on{
        box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8), 
        inset -2px -2px 4px rgba(119, 119, 255, 0.5);
    }
}
.btsq .bticon_on{
    display: none;
}
.btsq:hover .bticon_on{
    display: block;
}
.btsq:hover .bticon{
    display: none;
}

.bt36{
    width: 36px;
    height: 36px;
    padding:2px;
    img{
        width: 12px;
        height: 7px;
    }
}

.btsq.norm{
    background: #1b2970;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.bt20 {
    width: 20px;
    height: 20px;
    padding: 0px;
    img{
        width: 4px;
        height: 7px;
    }
}
.bt20.norm{
    background: #21338a;
    box-shadow:none;
    img{
        width: auto;
        height: auto;
    }
}

.bt16 {
    width: 16px;
    height: 16px;
    padding: 0px;
    background: #21338a;
    box-shadow: none;
}

.btn_c32 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, #131f5a, #253688);
    &:hover,&.on{
        box-shadow: inset 2px 2px 8px 2px rgba(0, 0, 0, 0.8), 
        inset -2px -2px 8px 2px rgba(119, 119, 255, 0.8);
    }
}

.btn_tab114{
    width: 114px;
    height: 48px;
    padding: 2px 4px 0px;
    border-radius: 5px;
    background-color: #0e1639;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin:2px;
    &:hover,&.on{
        color: #ff994a;
    }
}


//Image
.sv2020{
    width: 20px; height: 20px;
}
.sv2424{
    width: 24px; height: 24px;
}


//Comp
.the_comp{
    display: flex;
    align-items: center;
    padding: 0px 40px 0px 0px;
    cursor: pointer;
    &:hover{
        opacity: 0.6;
    }
    img{
        margin: 0px 8px 0px 0px;
    }
    .word{
        @include fsr14;
        line-height: 1.5;
    }
}


//Bar
.nation_line{
    width: 100%;
    padding:10px;
    background: #182566;
    background: linear-gradient(180deg, #141e52, #182566);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    @include dflx_ac_jbet;
}
.nation_bar{
    width: 19.5%;
    height: 40px;
    padding: 4px 10px 0px;
    background: #0f173d;
    border: 1px solid #0f173d;
    border-radius: 5px;
    cursor: pointer;
    @include dflx_ac_jbet;
    .call{
        @include fsm14;
    }
    .time{
        @include fsl12;
        @include dflx_ae;
        span{
            font: inherit;
            padding: 0px 0px 0px 3px;
            &.tc{
                font-size: 14px;
                margin: 0px 0px 0px 3px;
            }
            &.when{
                line-height: 1.1;
                padding: 0px 2px;
                @include fsb20;
            }
        }
    }
}
.nation_bar.on{
    color: #ff994a;
    border: 1px solid #ff994a;
}

.self_line{
    padding:8px;
    background: #182566;
    background: linear-gradient(to bottom, #182566, #111a48);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    @include dflx_ac;
}
.self_bar{
    min-width: 92px;
    height: 40px;
    margin: 0 15px 0 0;
    padding: 13px 20px 10px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    @include fsm14;
    @include dflx_ac;
    &:last-child{
        margin: 0px;
    }
    &.on{
        box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8), 
        inset -2px -2px 4px rgba(119, 119, 255, 0.5);
        color: #ff994a;
    }
}
